name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      generate_snapshots:
        description: 'Generate new Cypress test snapshots'
        required: true
        type: boolean

permissions:
  contents: write
  pull-requests: write

jobs:
  cypress:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest

      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Run Cypress Tests
        if: github.event_name != 'workflow_dispatch' || github.event.inputs.generate_snapshots == 'false'
        uses: cypress-io/github-action@7ef72e250a9e564efb4ed4c2433971ada4cc38b4 # v6.10.4
        with:
          build: pnpm run build
          start: pnpm run serve
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Generate New Cypress Test Snapshots
        id: generate_snapshots
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.generate_snapshots == 'true'
        uses: cypress-io/github-action@7ef72e250a9e564efb4ed4c2433971ada4cc38b4 # v6.10.4
        with:
          build: pnpm run build
          start: pnpm run serve
          env:
            visualRegressionType=base
          spec:
            cypress/e2e/visual.cy.ts

      - name: Upload Cypress Snapshots
        # We upload snapshots when the previous step fails
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cypress-snapshots
          if-no-files-found: ignore
          path: |
            cypress/snapshots/diff
            cypress/snapshots/actual
            ${{ steps.generate_snapshots.outcome == 'success' && 'cypress/snapshots/base' || '' }}

      - name: Create Pull Request With Snapshots
        if: steps.generate_snapshots.outcome == 'success'
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          title: 'Update Cypress Snapshots'
          body: 'This pull request contains the latest Cypress test snapshots.'
          commit-message: 'chore(ci): Update Cypress snapshots'
          branch: cypress-snapshots
          add-paths: |
            cypress/snapshots
          delete-branch: true
          sign-commits: true
          reviewers: ElioDiNino
