name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      generate_snapshots:
        description: 'Generate new Cypress test snapshots'
        required: true
        type: boolean

permissions:
  contents: write
  pull-requests: write

jobs:
  cypress:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Run Cypress Tests
        if: github.event_name != 'workflow_dispatch' || github.event.inputs.generate_snapshots == 'false'
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # v6.10.8
        with:
          build: pnpm run build
          start: pnpm run serve
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Generate New Cypress Test Snapshots
        id: generate_snapshots
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.generate_snapshots == 'true'
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # v6.10.8
        with:
          build: pnpm run build
          start: pnpm run serve
          env:
            visualRegressionType=base
          spec:
            cypress/e2e/visual.cy.ts

      - name: Upload Cypress Snapshots
        # We upload snapshots when the previous step fails
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cypress-snapshots
          if-no-files-found: ignore
          path: |
            cypress/snapshots/diff
            cypress/snapshots/actual
            ${{ steps.generate_snapshots.outcome == 'success' && 'cypress/snapshots/base' || '' }}

      - name: Create Pull Request With Snapshots
        if: steps.generate_snapshots.outcome == 'success'
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          title: 'Update Cypress Snapshots'
          body: 'This pull request contains the latest Cypress test snapshots.'
          commit-message: 'chore(ci): Update Cypress snapshots'
          branch: cypress-snapshots
          add-paths: |
            cypress/snapshots
          delete-branch: true
          sign-commits: true
          reviewers: ElioDiNino
